@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Die1Er_Projektarbeit.Controllers.ForumController.ForumModel
<div>
    <h2>Themen:</h2>

    @foreach (var thema in Model.Themen)
    {
        <ul>
            <li>
                @thema.Titel
            </li>
            <li>
                @thema.Ersteller.Name
            </li>
            <li>
                @thema.Berufsbereich
            </li>
        </ul>
    }
</div>
<div>

    <form asp-action="ThemaErstellen" asp-controller="Forum" method="post"  >

        <label for="Titel">Titel</label>
        <input class="form-control mb-2" id="Titel" type="text" name="Titel" />
        
        <label for="Berufsbereich">Berufsbereich</label>
        
        @foreach (var berufsbereich in Model.Berufsbereiche)
        {
            <label for="berufsbereich+@berufsbereich.ID">@berufsbereich.Bezeichnung</label>
            <input class="mb-2" type="radio" name="berufsbereich" id="berufsbereich+@berufsbereich.ID" value="@berufsbereich.ID"/>
        }
        
        <button class="btn btn-primary mb-2" type="submit">abschicken</button>
    </form>

</div>